{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col s12">
            <h2>Mes tickets</h2>
            <a href="{% url 'ticket-add' %}" class="waves-effect waves-light btn">
                <i class="material-icons">add</i>
                Nouveau ticket
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for ticket in tickets %}
            <div class="ticket-row">
                <div class="ticket-row__img"><img src="{{ ticket.image.url }}" alt=""></div>
                <div class="ticket-row__title">{{ ticket.title }}</div>
                <div class="ticket-row__date">{{ ticket.time_created }}</div>
                <div class="ticket-row__actions">
                    <a href="{% url 'ticket-edit' ticket.id %}" class="grey darken-2 waves-effect waves-light btn">
                        <i class="material-icons">edit</i></a>
                    <a href="#modal_delete" class="red darken-4 waves-effect waves-light btn modal-trigger"
                        data-title="{{ ticket.title }}" data-delete-url="{% url 'ticket-delete' ticket.id %}"
                        data-post-type="ticket">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
                <div class="ticket-row__body">{{ ticket.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}