.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

select {
    display: block;
}

.modal {
    width: 30%;
}

.col .container {
    margin-right: 10px;
    margin-left: 70px;
}

.error {
    color: red;
}

.msg {
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-top: 3px;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
}

.msg_text {
    margin-left: 5px;
}

.warning {
    color: orange;
    border-color: orange;
    background-color: lightyellow;
}

.success {
    border-color: green;
    color: green;
    background-color: #DDFFEE;
}

.post {
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.nested {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.ticket {
    background-color: #FFFFFA;
    border-color: lightsalmon;
    color: #993300;
}

.review {
    background-color: #FAFAFF;
    border-color: lightskyblue;
    color: #000055;
}

.info {
    width: 49%;
    display: inline-block;
}

.ticket__date {
    text-align: right;
}

.card {
    box-shadow: 0 0 0 !important;
    background-color: transparent !important;
}

.card-image {
    width: 100px;
    height: 140px;
}

.card-content {
    padding: 0px 2px 2px 15px !important;
}

.card-action {
    text-align: right;
    border-width: 0 !important;
    padding: 0 15px 0 0 !important
}

.btn-rev-available {
    color: orange;
}


.ticket-row {
    margin-bottom: 20px;
    border: 1px solid #AAA;
    padding: 10px;
    border-radius: 10px;
}

.ticket-row:hover {
    background-color: #DDD;
}

.ticket-row__img,
.ticket-row__title,
.ticket-row__date,
.ticket-row__actions {
    display: inline-block;
}

.ticket-row__img {
    width: 10%;
}

.ticket-row__img img {
    width: 60px;
    height: 80px;
}

.ticket-row__title {
    width: 60%;
    font-size: 2em;

}

.ticket-row__date {
    width: 35%;
}

.ticket-row__actions {
    text-align: right;
    width: 62%;
    visibility: hidden;
}


.review-row {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #AAA;
    padding: 10px;
    border-radius: 10px;
}

.review-row:hover {
    background-color: #DDD;
}

.review-row__img,
.review-row__title,
.review-row__rating,
.review-row__date,
.review-row__actions {
    display: inline-block;
}

.review-row__img {
    width: 7%;
}

.review-row__img img {
    width: 60px;
    height: 80px;
}

.review-row__title {
    margin-left: 20px;
    width: 50%;
    font-size: 2em;

}

.review-row__rating {
    text-align: right;
    width: 36%;
}

.review-row__date {
    width: 55%;
}

.review-row__headline,
.review-row__body {
    display: none;
}

.review-row__headline {
    font-size: 1.5em;
}

.review-row__actions {
    text-align: right;
    width: 42%;
    visibility: hidden;
}